body {
  background-color: hsla(190, 33%, 7%, 0.975) !important;
}
.navbar-toggler {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.toast-class{
  width:300px !important;
}
.container {
  background-color: hsla(190, 33%, 7%, 0.975) !important;
}
.middle,
.main,
.about{
  background-color: hsla(190, 33%, 7%, 0.975) !important;
}

.navbar {
  background-color: hsla(190, 33%, 7%, 0.975) !important;
}
.footer {
  background-color: hsla(190, 33%, 7%, 0.975) !important;
}
.navbar-toggler-icon {
  width: 24px;
  height: 2px;
  background-color: black;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: block;
  background-image: none;
}
.card,
.card-title,.card-header{
  background-color: #021b27 !important;
  color: rgb(208, 204, 204) !important;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.navbar-toggler.active .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.active .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.active .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}
